@{
	ViewData["Title"] = "Добавить комментарий";
}
<div class="comment-wrapper">
	<a id="comment"></a>
	<h1>Оставить комментарий</h1>
	<form method="post">
		<div class="content">
			<div class="field-wrapper">
				<label for="CommentValue" class="input-label">Комментарий</label>
				<textarea name="CommentValue" placeholder="Что вы думаете о сайте?"></textarea>
			</div>
			<div class="field-wrapper">
				<label for="SenderName" class="input-label">Имя</label>
				<input type="text" name="SenderName" placeholder="Как вас зовут?" />
			</div>
		</div>
		<button type="submit" asp-controller="Home" asp-action="AddComment">Отправить</button>
	</form>
</div>