@{
	ViewData["Title"] = "Феи";
}

<div class="content">
	@foreach (var fairy in ViewBag.Fairies)
	{
		<div>
			<div class="fairies-logo">
				<img src="@fairy.ImageSrc" />
			</div>
			<center><a class="fairies-text" href="/Home/Fairy/@fairy.Name">@fairy.Name</a></center>
			<div class="fairies-description">@fairy.Description</div>
		</div>
	}
</div>