<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style-mobile.css" asp-append-version="true" />
    <link href="~/img/favicon.ico" rel="shortcut icon" runat="server" type="image/x-icon" />
    <link href="~/img/favicon.ico" rel="icon" runat="server" type="image/ico" />
</head>
<body>
    <header>
        <nav>
            <a asp-area="" asp-controller="Home" asp-action="Index" class="mobile-logo"><img src="~/img/logo.png"></a>
            <div class="header">Меню</div>
            <div class="links">
                <a asp-area="" asp-controller="Home" asp-action="Fairies">Феи</a>
                <a asp-area="" asp-controller="Home" asp-action="Comments">Комментарии</a>
                <a asp-area="" asp-controller="Home" asp-action="Comment">Добавить комментарий</a>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            <a asp-area ="" asp-controller="Home" asp-action="Index" class="logo-wrapper">
                <center><img src="~/img/logo.png"></center>
            </a>
            <div class="page-wrapper">
                <div class="page-wrapper">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @*&copy; 2023 - IPLab1BMVC - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
