@{
	ViewData["Title"] = "Комментарии";
}

<h1>Комментарии</h1>

@foreach (var comment in ViewBag.Comments)
{
<div class="comment-wrapper">
	<h2>@comment.SenderName</h2>
	<h3>@comment.CommentValue</h3>
</div>
}